{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хоккейные турниры</title>
    <link rel="stylesheet" href="{% static 'Hockey/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'Hockey/css/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'Hockey/logo.png' %}" alt="Логотип" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="../">Главная</a></li>
                    <li><a href="{% url 'tournament' %}">Турниры</a></li>
                    <li><a href="{% url 'rating' %}">Рейтинги</a></li>
                    <li><a href="{% url 'index' %}#about">О нас</a></li>
                    <li><a href="{% url 'index' %}#contacts">Контакты</a></li>
                </ul>
            </nav>
            <a class="profile-icon" href="{% url 'profile' %}"><img src="{% static 'Hockey/user.svg' %}"></a>
        </div>
    </header>

    <main>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Профиль</h2>

            <div class="form-section">

                <!-- Персональные данные -->
                <div class="block">
                    <h4>Персональные данные пользователя</h4>
                    <div class="field">{{ form.last_name }}</div>
                    <div class="field">{{ form.first_name }}</div>
                    <div class="field">{{ form.middle_name }}</div>
                    <div class="field">{{ form.phone }}</div>
                    <div class="field">{{ form.age }}</div>
                    <div class="field">{{ form.gender }}</div>
                </div>

                <!-- Медицинское заключение -->
                <div class="block">
                    <h4>Медицинское заключение</h4>
                    <div class="field">{{ form.medical_doc }}</div>
                    <label class="checkbox">
                        {{ form.medical_consent }}
                        <span>Я согласен(а) на медицинское вмешательство при необходимости</span>
                    </label>
                </div>

                <!-- Удостоверение личности -->
                <div class="block">
                    <h4>Удостоверение личности</h4>
                    <div class="field">{{ form.identity_doc }}</div>
                </div>

                <!-- Уровень подготовки -->
                <div class="block">
                    <h4>Уровень подготовки</h4>
                    <div class="field">{{ form.skill_level }}</div>
                </div>

                <!-- Амплуа -->
                <div class="block">
                    <h4>Амплуа</h4>
                    <div class="field">{{ form.position }}</div>
                </div>
            </div>

            <div class="submit-button">
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </main>
</body>
</html>