{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хоккейные турниры</title>
    <link rel="stylesheet" href="{% static 'Hockey/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'Hockey/css/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'Hockey/logo.png' %}" alt="Логотип" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="../">Главная</a></li>
                    <li><a href="{% url 'tournament' %}">Турниры</a></li>
                    <li><a href="{% url 'rating' %}">Рейтинги</a></li>
                    <li><a href="{% url 'index' %}#about">О нас</a></li>
                    <li><a href="{% url 'index' %}#contacts">Контакты</a></li>
                </ul>
            </nav>
            <a class="profile-icon" href="{% url 'profile' %}"><img src="{% static 'Hockey/user.svg' %}"></a>
        </div>
    </header>

    <main>
        <h1>Общий рейтинг</h1>

        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Имя пользователя</th>
                    <th>Позиция</th>
                    <th>Рейтинг</th>
                    <th>Возраст</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.position|default:"-" }}</td>
                    <td>{{ player.rating }}</td>
                    <td>{{ player.age|default:"-" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </main>
</body>
</html>