{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'Hockey/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'Hockey/css/style.css' %}">
</head>
<body>
    <div class="registration-card">
        <!-- Логотип -->
        <img src="{% static 'Hockey/logo.png' %}" alt="Логотип" class="logo" />

        <!-- Заголовок -->
        <h2>Регистрация</h2>

        <!-- Форма -->
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-custom">Продолжить</button>
        </form>
        

        <!-- Нижний текст -->
        <div class="bottom-text">
            Уже зарегистрированы? <a href="">Войти</a>
        </div>
    </div>
</body>
</html>
